version: 2
updates:
  # Enable version updates for npm
  - package-ecosystem: "npm"
    directory: "/mini-app"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    reviewers:
      - "NovusTechLLC"
    labels:
      - "dependencies"
      - "javascript"

  # Enable version updates for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    reviewers:
      - "NovusTechLLC"
    labels:
      - "dependencies"
      - "github-actions"

